<!-- ハンバーガーボタン -->
<div class="hamburger">
  <span></span>
  <span></span>
  <span></span>
</div>

<!-- サイドメニュー -->
<div class="side-menu">
  <div class="menu-header">メニュー</div>

  <div class="menu-item">
    <span>memoモード</span>
    <div class="menu-switch off"></div>
  </div>

  <div class="menu-divider"></div>


</div>