<div class="event-new-container">

  <!-- 左上 × ボタン -->
  <div class="top-left">＜</div>

  <!-- 円グラフ（追加ページと同じ部分テンプレート） -->
  <%= render "shared/chart" %>

  <!-- 予定を編集 -->
  <div class="event-btn-row">
    <div class="add-event-btn">予定として保存</div>
    <div class="temp-event-btn">仮予定として編集</div>
  </div>

  <div class="event-form-box">
    <div class="event-row"> タスク： </div>
    <div class="event-row"> 時間： </div>
    <div class="event-row"> リスト： </div>
    <div class="event-row"> カテゴリー： </div>

    <!-- メモだけ幅広 -->
    <div class="event-memo"> メモ： </div>
  </div>

</div>