<%= render "shared/header" %>

<div class="content-wrapper">

  <div class="login-container">
    <p class="login-title">ログイン</p>
    <input type="text" placeholder="名前" />
    <input type="password" placeholder="パスワード" />
    <button>ログイン</button>
    <div class="register-link">アカウントの作成</div>
  </div>
</div>