body {
  background: #fdfdfd; 
  color: #333; 
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex; 
  flex-direction: column;
}

.content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.login-title {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px; 
  text-align: center;
}

.login-container {
  position: static; 
  margin: 0;
  
  background: #FFF;
  padding: 40px;
  border-radius: 8px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.login-container input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc; 
  font-size: 16px;
}

.login-container button {
  padding: 12px;
  background: #4DD0E1; 
  color: #333; 
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.register-link {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  color: #000000; 
  cursor: pointer;
}